<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nova Bet - Jogo dos dados</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
      <main>
      <div class="container py-4">
        <div th:replace="~{fragments/dashboard :: header}"></div>
        <div class="row">
          <div class="col-md-2">
            <div th:replace="~{fragments/dashboard :: menu-sidebar}"></div>
          </div>
          <div class="col-md-10">
              <a href="/bets/index" class="btn btn-secondary btn-sm float-end">
                <i class="bi bi-arrow-left"></i> Voltar
              </a>
              <h1 class="display-5 fw-bold">Nova Bet</h1>
              <div class="clearfix"></div>
              <hr>
              
              <div class="card shadow-sm">
                <div class="card-body">
                  <form th:action="@{/bets/create}" th:object="${bet}" method="post">
                    <div class="row mb-3">
                      <label for="name" class="col-sm-3 col-form-label"><strong>Nome:</strong></label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" th:field="*{name}" required>
                      </div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                      <label for="user" class="col-sm-3 col-form-label"><strong>Dealer:</strong></label>
                      <div class="col-sm-9">
                        <label for="user_id">Dealer</label>
	                      <select id="user_id" class="form-control" th:field="*{user.id}">
                          <option value="">Selecione um usuário</option>
                          <option th:each="u : ${users}" 
                                  th:value="${u.id}" th:text="${u.name}">Selecione</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="mt-4">
                      <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Salvar nova bet
                      </button>
                      <a href="/bets/index" class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i> Cancelar
                      </a>
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
        <div th:replace="~{fragments/dashboard :: footer}"></div>
      </div>
    </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
